In [1]:
#import packages
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import roc_curve,auc,recall_score,precision_score,accuracy_score,f1_score
from sklearn.metrics import confusion_matrix,average_precision_score,recall_score
import seaborn as sns
% matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [2]:
#Import file
df=pd.read_csv('C:\\backup\\Reva\\RP\\WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [3]:
# Explore data
df.shape
type(df)
df.size
df.head()
df.tail()

(7043, 21)

pandas.core.frame.DataFrame

147903

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [4]:
#Check for missing values
pd.isnull(df).any()
pd.isnull(df).sum()

customerID          False
gender              False
SeniorCitizen       False
Partner             False
Dependents          False
tenure              False
PhoneService        False
MultipleLines       False
InternetService     False
OnlineSecurity      False
OnlineBackup        False
DeviceProtection    False
TechSupport         False
StreamingTV         False
StreamingMovies     False
Contract            False
PaperlessBilling    False
PaymentMethod       False
MonthlyCharges      False
TotalCharges        False
Churn               False
dtype: bool

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [5]:
#Find out types of each variable, Object means string or categorical in the below output
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [21]:
#Expect the below variable all are categorical
np.round(df.describe(),2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
count,7043.00,7043.0,7043.00,7043.00,7043.00,7043.00,7043.0,7043.00,7043.00,7043.00,...,7043.00,7043.00,7043.00,7043.00,7043.00,7043.00,7043.00,7043.00,7043.00,7043.00
mean,3521.00,0.5,0.16,0.48,0.30,32.37,0.9,0.94,0.87,0.79,...,0.80,0.99,0.99,0.69,0.59,1.57,64.76,3257.79,0.27,0.27
std,2033.28,0.5,0.37,0.50,0.46,24.56,0.3,0.95,0.74,0.86,...,0.86,0.89,0.89,0.83,0.49,1.07,30.09,1888.69,0.44,0.44
min,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,18.25,0.00,0.00,0.00
25%,1760.50,0.0,0.00,0.00,0.00,9.00,1.0,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,1.00,35.50,1609.00,0.00,0.00
50%,3521.00,1.0,0.00,0.00,0.00,29.00,1.0,1.00,1.00,1.00,...,1.00,1.00,1.00,0.00,1.00,2.00,70.35,3249.00,0.00,0.00
75%,5281.50,1.0,0.00,1.00,1.00,55.00,1.0,2.00,1.00,2.00,...,2.00,2.00,2.00,1.00,1.00,2.00,89.85,4901.50,1.00,1.00
max,7042.00,1.0,1.00,1.00,1.00,72.00,1.0,2.00,2.00,2.00,...,2.00,2.00,2.00,2.00,1.00,3.00,118.75,6530.00,1.00,1.00

In [7]:
#Find out number of customers who churned vs dint
print('Count of Labels')
df.groupby('Churn').size()

Count of Labels

Churn
No     5174
Yes    1869
dtype: int64

In [8]:
#Convert Churn from (Yes,No) to(0,1)
le=preprocessing.LabelEncoder()

In [9]:
le.fit(df['Churn'])

LabelEncoder()

In [10]:
list(le.classes_)

['No', 'Yes']

In [11]:
dfn=le.transform(df['Churn'])

In [12]:
le.inverse_transform([0,1])

array(['No', 'Yes'], dtype=object)

In [13]:
df['Y']=dfn
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
Y                   7043 non-null int32
dtypes: float64(1), int32(1), int64(2), object(18)
memory usage: 1.2+ MB

Index([u'customerID', u'gender', u'SeniorCitizen', u'Partner', u'Dependents',
       u'tenure', u'PhoneService', u'MultipleLines', u'InternetService',
       u'OnlineSecurity', u'OnlineBackup', u'DeviceProtection', u'TechSupport',
       u'StreamingTV', u'StreamingMovies', u'Contract', u'PaperlessBilling',
       u'PaymentMethod', u'MonthlyCharges', u'TotalCharges', u'Churn', u'Y'],
      dtype='object')

In [14]:
#Separate out independent categorical variablesfor conversion into numerical
x_catg=df.loc[:,('gender','Partner','Dependents','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod')]
x_catg.head()
x_catg.shape

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod
0,Female,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check
1,Male,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check
2,Male,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check
3,Male,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic)
4,Female,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check

(7043, 15)

In [15]:
#Separate out independent numerical variables
x_num=df.loc[:,('SeniorCitizen','tenure','MonthlyCharges','TotalCharges')]
x_num.head()

   SeniorCitizen  tenure  MonthlyCharges TotalCharges
0              0       1           29.85        29.85
1              0      34           56.95       1889.5
2              0       2           53.85       108.15
3              0      45           42.30      1840.75
4              0       2           70.70       151.65

In [16]:
#Convert Categorical vars to dummy coding
x_num1=pd.get_dummies(x_catg)
x_num1.head()

,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes,MultipleLines_No,MultipleLines_No phone service,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,0,0,1,1,0,1,0,0,1,...,0,1,0,0,0,1,0,0,1,0
1,0,1,1,0,1,0,0,1,1,0,...,0,0,1,0,1,0,0,0,0,1
2,0,1,1,0,1,0,0,1,1,0,...,0,1,0,0,0,1,0,0,0,1
3,0,1,1,0,1,0,1,0,0,1,...,0,0,1,0,1,0,1,0,0,0
4,1,0,1,0,1,0,0,1,1,0,...,0,1,0,0,0,1,0,0,1,0

In [17]:
#Get all Xs together
x=pd.concat([x_num1,x_num],axis=1)
x.head()

,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes,MultipleLines_No,MultipleLines_No phone service,...,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,SeniorCitizen,tenure,MonthlyCharges,TotalCharges
0,1,0,0,1,1,0,1,0,0,1,...,0,1,0,0,1,0,0,1,29.85,29.85
1,0,1,1,0,1,0,0,1,1,0,...,1,0,0,0,0,1,0,34,56.95,1889.5
2,0,1,1,0,1,0,0,1,1,0,...,0,1,0,0,0,1,0,2,53.85,108.15
3,0,1,1,0,1,0,1,0,0,1,...,1,0,1,0,0,0,0,45,42.30,1840.75
4,1,0,1,0,1,0,0,1,1,0,...,0,1,0,0,1,0,0,2,70.70,151.65

In [18]:
# Create Dependent Variable
y=df['Y']
y.head()

0    0
1    0
2    1
3    0
4    1
Name: Y, dtype: int32

In [19]:
#Dummy coding using the loop structure
for col in df.columns:
    if df[col].dtype=='object':
          df[col] = pd.Categorical(df[col]).codes

In [20]:
df.describe

<bound method DataFrame.describe of       customerID  gender  SeniorCitizen  Partner  Dependents  tenure  \
0           5375       0              0        1           0       1
1           3962       1              0        0           0      34
2           2564       1              0        0           0       2
3           5535       1              0        0           0      45
4           6511       0              0        0           0       2
5           6551       0              0        0           0       8
6           1002       1              0        0           1      22
7           4770       0              0        0           0      10
8           5604       0              0        1           0      28
9           4534       1              0        0           1      62
10          6871       1              0        1           1      13
11          5288       1              0        0           0      16
12          5751       1              0        1           0      58
13           174       1              0        0           0      49
14          3615       1              0        0           0      25
15          2556       0              0        1           1      69
16          5820       0              0        0           0      52
17          7019       1              0        0           1      71
18          2937       0              0        1           1      10
19          2928       0              0        0           0      21
20          6207       1              1        0           0       1
21          1141       1              0        1           0      12
22           723       1              0        0           0       1
23          2541       0              0        1           0      58
24          4479       1              0        1           1      49
25          4873       0              0        0           0      30
26          4584       1              0        1           1      47
27          6119       1              0        1           1       1
28          3733       1              0        1           0      72
29          6199       0              0        0           1      17
...          ...     ...            ...      ...         ...     ...
7013        1144       0              0        0           0      40
7014        6388       1              0        0           0      41
7015         453       1              1        1           0      34
7016        1019       0              0        0           0       1
7017        3375       0              0        0           0      51
7018         771       1              0        1           1       1
7019        6836       0              0        0           0      39
7020        6934       1              0        1           1      12
7021        1155       1              0        0           0      12
7022        5119       1              0        0           0      72
7023         701       0              1        1           0      63
7024        5249       1              0        1           0      44
7025        1945       0              0        0           0      18
7026        6201       0              0        0           0       9
7027         372       1              0        0           0      13
7028        6536       0              0        1           0      68
7029        1526       0              1        0           0       6
7030         593       0              0        0           0       2
7031        2521       1              1        1           0      55
7032        4893       1              1        0           0       1
7033        6875       1              0        0           0      38
7034         437       0              0        0           0      67
7035        5995       1              0        0           0      19
7036        5504       0              0        0           0      12
7037        1758       0              0        0           0      72
7038        4853       1              0        1           1      24
7039        1525       0              0        1           1      72
7040        3367       0              0        1           1      11
7041        5934       1              1        1           0       4
7042        2226       1              0        0           0      66

      PhoneService  MultipleLines  InternetService  OnlineSecurity  ...  \
0                0              1                0               0  ...
1                1              0                0               2  ...
2                1              0                0               2  ...
3                0              1                0               2  ...
4                1              0                1               0  ...
5                1              2                1               0  ...
6                1              2                1               0  ...
7                0              1                0               2  ...
8                1              2                1               0  ...
9                1              0                0               2  ...
10               1              0                0               2  ...
11               1              0                2               1  ...
12               1              2                1               0  ...
13               1              2                1               0  ...
14               1              0                1               2  ...
15               1              2                1               2  ...
16               1              0                2               1  ...
17               1              2                1               2  ...
18               1              0                0               0  ...
19               1              0                1               0  ...
20               0              1                0               0  ...
21               1              0                2               1  ...
22               1              0                2               1  ...
23               1              2                0               0  ...
24               1              0                0               2  ...
25               1              0                0               2  ...
26               1              2                1               0  ...
27               0              1                0               0  ...
28               1              2                0               2  ...
29               1              0                0               0  ...
...            ...            ...              ...             ...  ...
7013             1              2                1               0  ...
7014             1              2                1               0  ...
7015             1              0                1               0  ...
7016             1              0                0               0  ...
7017             1              0                2               1  ...
7018             1              0                1               0  ...
7019             1              0                2               1  ...
7020             1              0                2               1  ...
7021             1              0                0               0  ...
7022             1              2                1               0  ...
7023             1              2                1               0  ...
7024             1              2                1               2  ...
7025             1              2                1               0  ...
7026             1              0                0               0  ...
7027             1              0                0               0  ...
7028             1              0                0               0  ...
7029             0              1                0               0  ...
7030             1              0                2               1  ...
7031             1              2                0               2  ...
7032             1              2                1               0  ...
7033             1              0                1               0  ...
7034             1              2                1               2  ...
7035             1              0                1               0  ...
7036             0              1                0               0  ...
7037             1              0                2               1  ...
7038             1              2                0               2  ...
7039             1              2                1               0  ...
7040             0              1                0               2  ...
7041             1              2                1               0  ...
7042             1              0                1               2  ...

      TechSupport  StreamingTV  StreamingMovies  Contract  PaperlessBilling  \
0               0            0                0         0                 1
1               0            0                0         1                 0
2               0            0                0         0                 1
3               2            0                0         1                 0
4               0            0                0         0                 1
5               0            2                2         0                 1
6               0            2                0         0                 1
7               0            0                0         0                 0
8               2            2                2         0                 1
9               0            0                0         1                 0
10              0            0                0         0                 1
11              1            1                1         2                 0
12              0            2                2         1                 0
13              0            2                2         0                 1
14              2            2                2         0                 1
15              2            2                2         2                 0
16              1            1                1         1                 0
17              0            2                2         2                 0
18              2            0                0         0                 0
19              0            0                2         0                 1
20              0            0                2         0                 1
21              1            1                1         1                 0
22              1            1                1         0                 0
23              2            0                0         2                 1
24              2            0                0         0                 0
25              0            0                0         0                 1
26              0            2                2         0                 1
27              0            0                0         0                 0
28              2            2                2         2                 1
29              0            2                2         0                 1
...           ...          ...              ...       ...               ...
7013            0            2                0         0                 1
7014            0            2                0         0                 1
7015            0            2                0         0                 1
7016            0            0                0         0                 0
7017            1            1                1         2                 0
7018            0            0                0         0                 1
7019            1            1                1         2                 0
7020            1            1                1         0                 1
7021            2            2                0         1                 1
7022            0            2                2         1                 1
7023            0            2                2         0                 1
7024            0            0                0         0                 1
7025            2            0                2         0                 1
7026            0            0                0         0                 1
7027            2            2                2         0                 0
7028            2            2                0         2                 0
7029            0            2                2         0                 1
7030            1            1                1         0                 1
7031            0            0                0         1                 0
7032            0            0                0         0                 1
7033            0            0                0         0                 1
7034            0            2                0         0                 1
7035            0            2                0         0                 1
7036            2            2                2         1                 0
7037            1            1                1         2                 1
7038            2            2                2         1                 1
7039            0            2                2         1                 1
7040            0            0                0         0                 1
7041            0            0                0         0                 1
7042            2            2                2         2                 1

      PaymentMethod  MonthlyCharges  TotalCharges  Churn  Y
0                 2           29.85          2505      0  0
1                 3           56.95          1466      0  0
2                 3           53.85           157      1  1
3                 0           42.30          1400      0  0
4                 2           70.70           925      1  1
5                 2           99.65          6104      1  1
6                 1           89.10          1550      0  0
7                 3           29.75          2609      0  0
8                 2          104.80          2646      1  1
9                 0           56.15          3022      0  0
10                3           49.95          4823      0  0
11                1           18.95          2836      0  0
12                1          100.35          4693      0  0
13                0          103.70          4265      1  1
14                2          105.50          2337      0  0
15                1          113.25          5959      0  0
16                3           20.65            46      0  0
17                0          106.70          5704      0  0
18                1           55.20          4416      1  1
19                2           90.05          1433      0  0
20                2           39.65          3340      1  1
21                0           19.80          1651      0  0
22                3           20.15          1609      1  1
23                1           59.90          3041      0  0
24                1           59.60          2567      0  0
25                0           55.30           959      0  0
26                2           99.35          4019      1  1
27                2           30.20          2592      1  1
28                1           90.25          5135      0  0
29                3           64.70           184      1  1
...             ...             ...           ...    ... ..
7013              0           93.40          3226      0  0
7014              2           89.20          3149      0  0
7015              1           85.20          2481      0  0
7016              2           49.95          4148      0  0
7017              0           20.65            40      0  0
7018              3           70.65          5514      1  1
7019              3           20.15          6116      0  0
7020              2           19.20          2024      0  0
7021              2           59.80          5651      1  1
7022              2          104.95          5796      0  0
7023              2          103.50          5200      0  0
7024              1           84.80          3135      0  0
7025              0           95.05          1166      0  0
7026              0           44.20          3448      1  1
7027              3           73.35          6401      0  0
7028              0           64.10          3680      0  0
7029              2           44.40          2278      0  0
7030              3           20.05          3338      0  0
7031              1           60.00          2880      0  0
7032              2           75.75          5776      1  1
7033              1           69.50          2272      0  0
7034              1          102.95          5431      1  1
7035              0           78.70           892      0  0
7036              2           60.65          5741      0  0
7037              0           21.15           770      0  0
7038              3           84.80          1597      0  0
7039              1          103.20          5698      0  0
7040              2           29.60          2994      0  0
7041              3           74.40          2660      1  1
7042              0          105.65          5407      0  0

[7043 rows x 22 columns]>